<div class="container">
    <div>
        <input type="text" [(ngModel)]="searchText">
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6" *ngFor="let product of product_data | filter:'productName':'category':searchText; let i = index;" [ngClass]="active_product==product.id ? 'active' : ''">
            <div class="thumbnail">
              <img src="{{product.picture1}}">
              <div class="caption">
                <h5>{{product.productName}}</h5>
                <p class="card-description">{{product.descShort}}</p>
                <p class="card-description">{{product.amount | currency:"₹"}}</p>
                <p class="card-description">{{product.category}}</p>
                <p class="card-description">{{product.makeYear}}</p>
                <input type="radio" name="product" (change)="selectedProduct(i, product.id);"> 
              </div>
            </div>
        </div>
    </div>
</div>